*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:'Inter',sans-serif;
  background:#0f172a;
  color:#f8fafc;
  min-height:100vh;
}

button{
  cursor:pointer;
  border:none;
  outline:none;
  transition:0.3s;
}

input{
  outline:none;
  border:none;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#475569;
  border-radius:10px;
}

::-webkit-scrollbar-track{
  background:#1e293b;
}
